# Electron 镜像配置
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# 其他镜像
registry=https://registry.npmmirror.com

# 使用扁平化的 node_modules 结构，避免 electron-builder 打包时符号链接问题
node-linker=hoisted
